@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gothicb;
  src: url('/font/gothicb.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Varela;
  src: url('/font/Varela.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Mashanzheng;
  src: url('/font/mashanzheng.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: zcool;
  src: url('/font/zcool.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.05em;
  font-family: "zcool"
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* background-color: beige; */
}

li {
  display: inline;
  padding: 0 1em;
  font-size: 1.5em;
}