.container {
    /* display: flex; */
    position: relative;
    align-items: left;
    justify-content: start;
    /* font-size: 3em; */
    width: 100%;
    height: 75vh;
    background-repeat: no-repeat;
    /* top: -1.9em; */
}

.container h2, .container h3 {
    /* margin: 0.5em 0 0 0.5em; */
    color: rgb(41 55 75);
    padding: 0.5em 0 0 1em;
    font-size: 5rem;
    /* font-size: 4rem; */
    font-weight: 600;
}


.container:nth-child(1) {
    min-width:100%;
    object-fit: contain;
    background-image: url("/images/main.jpg");
    background-size: cover;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    position: relative;
    z-index: 0;
    /* background-color: black; */
    
}

.itemList .masker {
    /* background-color: antiquewhite; */
    color: rgb(41 55 75);
    
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    font-size: 5em;;
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    /* pointer-events   : none; */
    background-image : linear-gradient(to bottom, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 70%);
    width    : 100%;
    height   : 3em;
    padding: 0.25em;
}

.itemList .masker:hover {
    --tw-opacity: 1;
    color: rgb(251 191 36 / var(--tw-opacity));

    transition: all;
    /* transition-timing-function: ease-in-out; */
    transition-duration: 0.5s;
}

@media screen and (min-width: 1600px) {
    .container h2, .container h3{
        font-size: 3.5em;
    }
    .itemList{
        grid-template-columns: repeat(4, 1fr);
    }
  }
@media screen and (max-width: 1200px) {
    .container h2, .container h3{
        font-size: 3em;
    }
    .itemList{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 800px) {
    .container h2, .container h3{
        font-size: 2.5em;
    }
      .itemList{
          grid-template-columns: repeat(1, 1fr);
      }
      .itemList .masker {
          font-size: 4em;
      }
  }
  @media screen and (max-width: 450px) {
    .container h2, .container h3{
        font-size: 2em;
    }
    .container:nth-child(1) {
          background-size: contain;
          margin-bottom: -2em;
      }
  }
  @media screen and (max-width: 400px) {
    .container h2, .container h3{
        font-size: 1.9em;
    }
    .container:nth-child(1) {
          margin-bottom: -3.5em;
      }
  }
  @media screen and (max-width: 350px) {
    .container h2, .container h3{
        font-size: 1.8em;
    }
    .container:nth-child(1) {
          margin-bottom: -5em;
      }
  }
  @media screen and (max-width: 300px) {
    .container h2, .container h3{
        font-size: 1.75em;
    }
    .container:nth-child(1) {
          margin-bottom: -7.5em;
      }
  }