
.container {
  display:grid;
  position: relative;
  /* grid-template-rows: 85% 15%; */
  margin: 1em 0 1em 0;
  grid-row: 0/2;
  grid-auto-columns: 19em;
  /* grid-auto-rows: 16em; */
  /* max-width: 30%; */
  /* width: fit-content; */
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.soldOut {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 60, 60);
    font-size: 4em;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);
}
.container:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.2);
  }

.bottomContainer {
    --tw-text-opacity: 1;
    background-color: white;
    color: rgb(51 65 85 / var(--tw-text-opacity));
    border: 1px solid rgba(148, 163,184, 1);
    display:grid;
    grid-template-columns: 65% 2% 33%;
    padding: 0 0.25em 0 0.25em;
    margin-top: 0em;
    overflow-wrap: break-word;
    grid-auto-rows: minmax(2em, auto);
    /* grid-column-gap: 0.5em; */
}

.bottomContainer > div:nth-of-type(1) {
    text-align: left;
    margin-top: 0.3em;
    margin-left: 0.2em;
}

.bottomContainer > div:nth-of-type(1) > h3 {
    
    /* cursor: pointer; */
}
/* .bottomContainer > div:nth-of-type(2) {
    text-align: right;
} */

.imager:hover {
    /* background-image: url('/images/main.jpg'); */
    cursor: pointer;
    z-index: 0;
}

.imageContainer{
    width: 19em;
    height: 20em;
}

@media screen and (max-width: 425px){
    
    .container {
        grid-auto-columns: 15em;
    }
    .imageContainer {
        
    width: 15em;
    height: 16em;
    }
}
@media screen and (max-width: 375px){
    
    .container {
        grid-auto-columns: 14em;
    }
    .imageContainer {
        
    width: 14em;
    height: 15em;
    }
}
@media screen and (max-width: 345px){
    
    .container {
        grid-auto-columns: 13em;
    }
    .imageContainer {
        
    width: 13em;
    height: 14em;
    }
}
