
.cartContainer {
    position: relative;
    cursor: pointer;
    /* display: inline-block; */

}
.userContainer {
    position: relative;
    cursor: pointer;
    display: inline-block;

}

.user {
    margin-left: 0.5em;
    margin-right: 1em;
    font-size: 2rem;

}
.cart {
    display: inline-block;
    font-size: 2.2em;
    margin: 0 0.5em 0 0.5em;
    cursor: pointer;
    position:relative;
    top: 0.35em;
    
    /* position:relative; */
}

.cartText {

    cursor: default;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow-wrap: break-word;
    width: 20em;
    min-height: 10em;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 4em;
    right: -1.4em;

  }

  @media screen and (min-width: 240px) {
  
    .cartText {
      width: 15em;
      right: -0.4em;
    }
  }

  
@media screen and (min-width: 340px) {
  
  .cartText {
    width: 17em;
    right: -0.8em;
  }
}


@media screen and (min-width: 1024px) {
  
  .cartText {
    width: 20em;
    right: -1.4em;
  }
}
.burgerContainer {
  
  animation-name: slideDown;
  animation-duration: 0.75s;
}

@keyframes slideDown {
  from {top: -100vh}
  to {top: 0}
}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
  
.userText {

  /* display: flex; */
  /* flex-direction: column; */
  cursor: default;
  visibility: hidden;
  overflow-wrap: break-word;
  width: 7em;
  height: fit-content;
  color: #fff;
  text-align: center;
  /* padding: 0.5em 1em; */
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 3.5em;
  right: 0.5em;
}


.loginText {

  /* display: flex; */
  /* flex-direction: column; */
  cursor: default;
  visibility: hidden;
  overflow-wrap: break-word;
  width: 6em;
  height: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 999;
  top: 3.5em;
  right: 1em;
}


  .cartText::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 80%;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    
  }
  
.userText::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: 5px;
    /* padding: 5px; */
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    /* background-color: red; */
    /* width: 100%; */
  }

.userContainer:hover .userText {
    visibility: visible;
}

.cartContainer:hover .cartText {
    visibility: visible;
  }

.number {
    /* position: relative; */
    font-size: 1em;
    width: fit-content;
    min-width: 1em;
    color: #000;
    background: rgb(248, 48, 48);
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left: 2.5em;
    top: -1.8em;
    opacity:0.9;

}