.topGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: rgb(30 41 59);

    color: white;
    text-align: center;
    padding: 0 5px 0 5px;
}

.orderGrid {
    text-align: center;
    display :grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "image title quantity price  subtitle";
        
    align-items: center;
    
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    padding-top: 0.5em;
    /* height: 3em; */
    
}

.imageGrid{

    display: grid;
    grid-area: image;
    justify-content: center;
}
.titleGrid{

    display: grid;
    grid-area: title;
    justify-content: center;
}
.quantityGrid{
    display: grid;
    grid-area: quantity;
    justify-content: center;

}
.priceGrid{
    display: grid;
    grid-area: price;
    justify-content: center;

}
.subTitleGrid{
    display: grid;
    grid-area: subtitle;
    justify-content: center;
    align-items: center;

}

.customerGrid{
    word-break: break-word;    
    font-size: medium;
    text-align: center;
}


@media screen and (min-width: 240px) {
    .topGrid {
        display: none;
        
    }
    
    .customerGrid{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    }
    
    .orderGrid {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .topGrid {
        display: grid;
    }
    
    .customerGrid{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .orderGrid {
        display: grid;
    }
}
